{{ define "layout" }}
{{ template "header" . }}
  <h1>Name : {{ .Name }}</h1>
{{ template "footer" }}
{{ end }}


<!-- {{ template "header.gohtml" . }}
  <h1>Name : {{ .Name }}</h1>
{{ template "footer.gohtml" }} -->